<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserDao">
    <resultMap id="userMapXML" type="User">
        <id property="id" column="userId" />
        <result property="name" column="username"/>
    </resultMap>

<!--    <select id="getAllUsers" resultMap="userMapXML">
        select * from user;
    </select>-->
</mapper>